:root {
  --blue: #07659c;
  --blue2: #0872b0;
  --blue3: #0f7bba;
  --blue4: #1085c9;
  --blue1: #08a4ff;
  --blue5: #108cd3;
  --red: #c43030;
  --grey: #f2f2f2;
  --grey1: #dddddd;
  --black: #000000;
  --white: #ffff;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html {
  position: absolute;
  top: -20px;
}
span,
a {
  font-weight: bold;
}
