:root {
  --blue: #07659c;
  --blue1: #08a4ff;
  --blue2: #0872b0;
  --blue3: #0f7bba;
  --blue4: #1085c9;
  --blue5: #108cd3;

  --white: #ffff;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
